@page
@model TargetDataBase.Pages.Targets.IndexModel
@{
    ViewData["Title"] = "Target Menu";
}
<h1 class="text-center mt-4">Target Menu</h1>
<h2 class="text-center text-success mt-4">CS-30 Targets</h2>
<div class="d-flex justify-content-center mt-2 mb-3">
    <a class="btn btn-success btn-lg m-1" asp-page="/CS30s/Create">Create CS-30 Target</a>
    <a class="btn btn-success btn-lg m-1" asp-page="/CS30s/Index">See all CS-30 Targets</a>
    <a class="btn btn-success btn-lg m-1" asp-page="/CS30Tests/Index">See all CS-30 Tests</a>
</div>

<h2 class="text-center text-primary mt-4">TR-30 Targets</h2>
<div class="d-flex justify-content-center mt-2 mb-3">
    <a class="btn btn-primary btn-lg m-1" asp-page="/TR30s/Create">Create TR-30 Target</a>
    <a class="btn btn-primary btn-lg m-1" asp-page="/TR30s/Index">See all TR-30 Targets</a>
    <a class="btn btn-primary btn-lg m-1" asp-page="/TR30Tests/Index">See all TR-30 Tests</a>
</div>

<h2 class="text-center text-warning mt-4">IBA Targets</h2>
<div class="d-flex justify-content-center mt-2 mb-5">
    <a class="btn btn-warning btn-lg m-1" asp-page="/IBAs/Create">Create IBA Target</a>
    <a class="btn btn-warning btn-lg m-1" asp-page="/IBAs/Index">See all IBA Targets</a>
    <a class="btn btn-warning btn-lg m-1" asp-page="/IBATests/Index">See all IBA Tests</a>
</div>

