@page
@model TargetDataBase.Pages.CS30Tests.EditModel

@{
    ViewData["Title"] = "Edit Test";
}

<h1 class="text-center mt-5">Edit CS-30 Test</h1>
<div class="row justify-content-center">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CS30Test.ID" />
            <div class="form-group">
                <label asp-for="CS30Test.CS30ID" class="control-label mt-2"></label>
                <select asp-for="CS30Test.CS30ID" class="form-control mb-1" asp-items="ViewBag.CS30ID"></select>
                <span asp-validation-for="CS30Test.CS30ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label mt-2">Result</label><br />
                <input name="CS30Test.Result" type="radio" value="True"/>
                <label for="true">True</label><br>
                <input name="CS30Test.Result" type="radio" value="False"/>
                <label for="False">False</label><br>
                <span asp-validation-for="CS30Test.Result" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CS30Test.HNum" class="control-label mt-2"></label>
                <input asp-for="CS30Test.HNum" class="form-control mb-1"/>
                <span asp-validation-for="CS30Test.HNum" class="text-danger"></span>
            </div>
            <div class="form-group text-center m-3">
                <input type="submit" value="Save" class="btn btn-primary col-sm-10" />
            </div>
        </form>
    </div>
</div>
<div class="text-center mb-4">
    <a class="btn btn-outline-primary" asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
