@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h1 class="text-center" style="margin-top: 50px !important;">@ViewData["Title"]</h1>
<h4 class="text-center">The correct use of the Target DataBase</h4>

<h2 class="text-center" style="margin: 20px !important;" >Update Status</h2>
<div class="card-group" style="margin-bottom: 50px !important;" >
  <div class="card" style="margin: 20px !important;">
    <img class="card-img-top" src="~/images/editstatus.png" alt="Update Status Buttom">
    <div class="card-body">
      <h5 class="card-title">1st</h5>
      <p class="card-text">In the right side of the Index menu, click on update</p>
    </div>
  </div>
  <div class="card" style="margin: 20px !important;">
    <img class="card-img-top" src="~/images/status.png" alt="Update Status Page">
    <div class="card-body">
      <h5 class="card-title">2nd</h5>
      <p class="card-text">There is a dropdown menu, click on it, change the status and save your changes.</p>
    </div>
  </div>
</div>

<h2 class="text-center" style="margin: 20px !important;" >Update Target Information</h2>
<div class="card-group">
  <div class="card" style="margin: 20px !important;">
    <img class="card-img-top" src="~/images/editstatus.png" alt="Update Buttom">
    <div class="card-body">
      <h5 class="card-title">1st</h5>
      <p class="card-text">In the right side of the Index menu, click on update</p>
    </div>
  </div>
  <div class="card" style="margin: 20px !important;">
    <img class="card-img-top" src="~/images/updatetarget.png" alt="Update Information">
    <div class="card-body">
      <h5 class="card-title">2nd</h5>
      <p class="card-text">There is 5 buttoms, select the option you want to update.</p>
    </div>
  </div>
  <div class="card" style="margin: 20px !important;">
    <img class="card-img-top" src="~/images/updateplating.png" alt="Update Information Plating">
    <div class="card-body">
      <h5 class="card-title">3rd</h5>
      <p class="card-text">After click on the buttom a form is going to display below the Status Dropdown menu, fill up the form with your changes, don't forget to update the status before to save your changes.</p>
    </div>
  </div>
</div>
