@page
@model TargetDataBase.Pages.CS30s.CreateModel

@{
    ViewData["Title"] = "Create CS-30 Target";
}

<h1 class="text-center" style="margin-top: 50px !important;" >@ViewData["Title"]</h1>
<div class="row justify-content-center" style="margin: 40px !important;">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CS30.Status" class="control-label"></label>
                <input style="margin-bottom: 10px !important;" asp-for="CS30.Status" value="Warehouse" class="form-control" readonly/>
            </div>
             @* Warehouse Data Fields *@
            <div class="form-group">
                <label asp-for="CS30.TargetType" class="control-label" style="margin-top: 20px !important;"></label>
                <select asp-for="CS30.TargetType" class="form-control" id="product" style="margin-bottom: 10px !important;">
                    <option value="Curve">Curve</option>
                    <option value="Flat">Flat</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="CS30.WarehouseDate" class="control-label" style="margin-top: 20px !important;"></label>
                <input asp-for="CS30.WarehouseDate" class="form-control" style="margin-bottom: 10px !important;"/>
                <span asp-validation-for="CS30.WarehouseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CS30.WarehouseName" class="control-label" style="margin-top: 10px !important;"></label>
                <input asp-for="CS30.WarehouseName" class="form-control" style="margin-bottom: 10px !important;"/>
                <span asp-validation-for="CS30.WarehouseName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CS30.WarehouseCode" class="control-label" style="margin-top: 10px !important;"></label>
                <select asp-for="CS30.WarehouseCode" class="form-control" id="WCode" style="margin-bottom: 10px !important;">
                    <option value="J54701">Curve-J54701</option>
                    <option value="G000271">Flat-6000271</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="CS30.WarehouseLotNum" class="control-label" style="margin-top: 10px !important;"></label>
                <input style="margin-bottom: 10px !important;" asp-for="CS30.WarehouseLotNum" class="form-control" />
                <span asp-validation-for="CS30.WarehouseLotNum" class="text-danger"></span>
            </div>
            <div class="form-group text-center" style="margin: 30px !important;">
                <input type="submit" value="Create" class="btn btn-primary col-sm-10" />
            </div>
        </form>
    </div>
</div>

<div class="text-center" style="margin-bottom: 40px !important;">
    <a class="btn btn-outline-primary" asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
