@page
@model TargetDataBase.Pages.CS30s.CreateModel

@{
    ViewData["Title"] = "Create CS-30 Target";
}

<h1 class="text-center mt-5">@ViewData["Title"]</h1>
<div class="row justify-content-center m-5">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CS30.Status" class="control-label"></label>
                <input asp-for="CS30.Status" value="Warehouse" class="form-control mb-2" readonly/>
            </div>
             @* Warehouse Data Fields *@
            <div class="form-group">
                <label asp-for="CS30.TargetType" class="control-label mt-3"></label>
                <select asp-for="CS30.TargetType" class="form-control mb-2" id="product">
                    <option value="Curve">Curve</option>
                    <option value="Flat">Flat</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="CS30.WarehouseDate" class="control-label mt-3"></label>
                <input asp-for="CS30.WarehouseDate" class="form-control mb-2"/>
                <span asp-validation-for="CS30.WarehouseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CS30.WarehouseName" class="control-label mt-3"></label>
                <input asp-for="CS30.WarehouseName" class="form-control mb-2"/>
                <span asp-validation-for="CS30.WarehouseName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CS30.WarehouseCode" class="control-label mt-3"></label>
                <select asp-for="CS30.WarehouseCode" class="form-control mb-2" id="WCode">
                    <option value="J54701">Curve-J54701</option>
                    <option value="G000271">Flat-6000271</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="CS30.WarehouseLotNum" class="control-label mt-3"></label>
                <input asp-for="CS30.WarehouseLotNum" class="form-control mb-2"/>
                <span asp-validation-for="CS30.WarehouseLotNum" class="text-danger"></span>
            </div>
            <div class="form-group text-center m-3">
                <input type="submit" value="Create" class="btn btn-primary col-sm-10" />
            </div>
        </form>
    </div>
</div>

<div class="text-center mb-4">
    <a class="btn btn-outline-primary" asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
